<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<title>{% block title %}{% endblock %} :: {{ sitetitle }}</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
{% include "favicons.html" %}
	<link rel="stylesheet" href="/styles.css"/>
{% block add-head %} {% endblock %}
</head>
<body class="website">
{% include "nav.html.j2" %}
<h1 id="myname" class="myname">Michał Krzysztof Feiler</h1>
<img class="roundme smallfloat" id="meroundinheader"
     src="{{ meroundinheaderimgsrc }}"/>
<span class="tenside">
{% block tenside %}
        Student I roku informatyki, adept programowania funkcyjnego.<br>
        Próbował robić programowanie funkcyjne zanim o nim usłyszał.
{% endblock %}
</span>
<hr/>
{% block main %} {% endblock %}
</body>
</html>
