body {
    font-size: 13pt;
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    padding: 0 10px;
    overflow-y: scroll;
}
@supports not (text-decoration-thickness: 2px) {
    body {
	text-decoration-skip-ink: none;
    }
}
img.roundmeright {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    float: right;
}
table.studia td {
    padding-left: 0.5em;
    padding-right: 1.5em;
}
table.studia td.rakad {
    text-align: end;
}
table.studia th {
    text-align: left;
}
p {
    margin: 0.2em;
}
ul {
    margin-top: 0.05em;
    margin-bottom: 0.45em;
}
table.contactme td {
    border-bottom: 1pt solid black;
}
abbr.outlook {
    text-decoration-color: #999;
    text-decoration-thickness: 2px;
}
