body {
	margin: 40px auto;
	max-width: 1100px;
	line-height: 1.6;
	padding: 0 10px;
}

div.snowden-g-post,div.g-post {
	float: right;
	display: inline;
}
td.prof,a.prof,img.prof {
	height: 64px;
	width: 64px;
}
/*div.imgsnowden,img.snowden {
	width: 300;
	float: left;
	display: inline;
}*/
div.snowden,p.snowden {
	font-size: 5em;
}
