body.website {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	padding: 0 10px;
}

a.prof,img.prof {
	height: 64px;
	width: 64px;
}

code.pgp,.pgp {
	font-color: #09F;

cite.from-quote {
	text-align: justify;
	text-justify: distribute;
}

blockquote footer {
	text-align: right;
	float: right;
	padding: 10px;
}
