html, body {
    height: 100%
}
body {
    padding: 50px 0 0 0;
}

.navmenu {
    padding-top: 50px;
}

.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
}

.container {
    max-width: 100%
}

@media (min-width: 1px) {
    .navbar-toggle {
        display: block !important;
    }
}

@media (min-width: 992px) {
    body {
        padding: 0 0 0 300px;
    }
    .navmenu {
        padding-top: 0;
    }
    .navbar {
        display: none !important;
    }
}

h2.blogpost {
    text-align: center;
}

body.website {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	padding: 0 10px;
	overflow-y: scroll;
}

img.meright {
	float: right;
	height: 333px;
	width: 333px;
	margin-left: 3px;
	vertical-align: middle;
	clear: right;
}

span.headright {
	float: right;
	clear: right;
	vertical-align: middle;
	width: 340px;
	margin-left: 3px;
}

div.jumbotron {
	background-color: white;
	max-width: 800px;
	margin-left: 0px;
	margin-right: 0px;
}

.pgp, .pgprev {
    font-family: monospace;
}

code.pgp, .pgp{
	color: #09F;
}

code.pgprev, .pgprev {
    text-decoration: line-through;
    text-decoration-color: #F20;
    color: #FAF;
}

.blockquote-reverse {
	text-align: justify;
	text-justify: auto;
	margin-left: 30px;
	text-indent: 70px;
    font-size: 15px;
}

footer {
	text-align: right;
	padding: 10px;
}

img.portproj {
	float: left;
	width: 150px;
	margin-left: 10px;
	margin-right: 25px;
}

.projdesc {
	display: inline-block;
	padding: 5px;
}

.projcollab {
	text-align: left;
	padding: 5px;
	margin-left: 20px;
}

h3.projline {
	font-size: 17px;
}

div.projlang {
	padding: 5px;
}

span.projlang {
	border-style: outset;
}
