<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "pl" }}">
<meta charset="UTF-8"/>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
	      crossorigin="anonymous"/>
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"
	      crossorigin="anonymous"/>
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css"
	      crossorigin="anonymous"/>
    {{ partial "partials/about.html" . }}
	<link rel="stylesheet" href="{{ "styles.css" | absURL }}"/>
{{ block "add-head" . }} {{ end }}
</head>
<body>
<!-- miejsce na noscript google tag managera i na naszgtm.js -->
{{ block "main" . }} {{ end }}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
</body>
</html>