{{ define "title" }}
{{ .Title }} :: {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section id="main">
	<h1 id="title" style="margin-bottom: 0.2em;">{{ .Title }}</h1>
	<div>
		<article id="content">
			{{ range .Data.Pages }}
                    <li>
                        <a href="{{.Permalink}}">{{.Title}}</a>
                        <div class="postlistdate">{{.Date.Format "Jan 02, 2006"}}</div>
                        <div class="postlistert">{{ .ReadingTime }}</div>
                    </li>
            {{ end }}
		</article>
	</div>
</section>
<aside id="meta">
	<div>
    {{ with .Params.topics }}
		<ul id="topics">
        {{ range . }}
			<li><a href="{{ "topics" | absURL}}{{ . | urlize}}">{{ . }}</a></li>
        {{ end }}
		</ul>
    {{ end }}
    {{ with .Params.tags }}
		<ul id="tags">
        {{ range . }}
			<li><a href="{{ "tags" | absURL}}{{ . | urlize}}">{{ . }}</a></li>
        {{ end }}
		</ul>
    {{ end }}
	</div>
	<div>
    {{ with .PrevInSection }}
		<p align="left">
			<a class="previous" href="{{.Permalink}}"> Previous: {{.Title}}</a>
		</p>
    {{ end }}
    {{ with .NextInSection }}
		<p align="right">
			<a class="next" href="{{.Permalink}}"> Next: {{.Title}}</a>
		</p>
    {{ end }}
	</div>
</aside>
{{ end }}