{{ define "title" }}
{{ .Title }} :: {{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{partial "klik/omnie.gohtml" }}
{{partial "klik/kontakt.gohtml" }}
<h2 id="follow">Śledź mnie, znajdź mnie</h2>
<p>Jestem <a href="https://twitter.com/feilermichal" target="_blank">@feilermichal na Twitterze</a>,<br>
	ale też <a href="https://bsd.network/archiet">@archiet@bsd.network w sieci federacji Mastodon</a>.<br>
	Swoje projekty publikuję często <a href="https://github.com/ArchieT">na GitHubie jako ArchieT</a>.<br>
	Możesz mnie też chcieć <a href="https://linkedin.com/in/feilermichal">znaleźć na LinkedIn</a><br>
	lub <a href="https://www.goldenline.pl/michal-krzysztof-feiler" target="_blank">może na GoldenLine</a>.<br>
	Możesz też trochę zweryfikować mój klucz publiczny
	<a href="https://keybase.io/archiet" target="_blank">znajdując mnie na Keybase</a>.<br>
	Czasem, rzadko, <a href="https://medium.com/@ArchieT" target="_blank">piszę coś na Medium</a>,<br>
	czasem <a href="https://archietor.tumblr.com">pojawia się też jakiś content na moim Tumblrze</a>.<br>
	Jeżeli chcesz, <a href="https://plus.google.com/u/0/100176969216547798972?prsrc=3" target="_blank">
		znajdziesz mnie też na Google+</a>,<br>
	a <a href="https://facebook.com/feilermichal" target="_blank">nawet na Facebooku</a>.<br>
	No i <a href="https://wakatime.com/@ArchieT" target="_blank">możesz śledzić statystyki mojej aktywności w
		edytorze tekstu na WakaTime</a>.<br>
	A także <a href="https://www.last.fm/user/feilermichal" target="_blank">
		śledzić, czego słuchałem kiedyś i dziś przed chwilą — w serwisie LastFM
	</a>. </p>
{{ end }}
