body {
    padding: 50px 0 0 0;
    font-size: 13pt;
}

h1.myname {
    /*padding-top: 0.2em;*/
}

div.myadresses {
    padding-bottom: 0.5em;
}

p.mnie {
    text-align: justify;
}

span.mniehead {
    font-size: 82%;
}

a.mniealong {
    font-size: 100%;
}

span.matrixtohead {
    font-family: monospace;
    font-size: 0.89em;
    color: #999;
}

span.matrixaddress {
    font-family: monospace;
}

h2.blogpost {
    text-align: center;
}

body.website {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	padding: 0 10px;
	overflow-y: scroll;
}

img.meright {
	float: right;
	height: 333px;
	width: 333px;
	margin-left: 20px;
	vertical-align: middle;
	clear: right;
}

span.headright {
	float: right;
	clear: right;
	vertical-align: middle;
	width: 340px;
	margin-left: 3px;
}

div.jumbotron {
	background-color: white;
	max-width: 800px;
	margin-left: 0;
	margin-right: 0;
}

.pgp, .pgprev {
    font-family: monospace;
}

code.pgp, .pgp{
	color: #09F;
}

code.pgprev, .pgprev {
    text-decoration: line-through;
    text-decoration-color: #F20;
    color: #FAF;
}

.blockquote-reverse {
	text-align: justify;
	text-justify: auto;
	margin-left: 30px;
	text-indent: 70px;
    font-size: 15px;
}

footer {
	text-align: right;
	padding: 10px;
}

img.portproj {
	float: left;
	width: 150px;
	margin-left: 10px;
	margin-right: 25px;
}

.projdesc {
	display: inline-block;
	padding: 5px;
}

.projcollab {
	text-align: left;
	padding: 5px;
	margin-left: 20px;
}

h3.projline {
	font-size: 17px;
}

div.projlang {
	padding: 5px;
}

span.projlang {
	border-style: outset;
}

h2 {
    padding-top: 0.2em;
}

li.nav-item, a.nav-link, div.linknav {
    display: inline-block;
    vertical-align: center;
    margin: 10px;
}

img.roundme {
    /*content: url("IMG_20170530_205342_797_100px.png");*/
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

img.smallfloat {
    float: right;
}

p.kliknijpo {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 89%;
}

img.tinyiconinline {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 3px;
}

table.story {
    margin-top: 0.5em;
    /*border-spacing: 0.2em 0.2em;*/
    border: 1px solid #777;
}
span.endschool, span.dash, span.startschool {
}

span.startschool {
}

td.daty {
    /*display: block;*/
    border: 1px solid #777;
    padding-left: 1em;
    padding-right: 1.5em;
}

td.whatschool, td.story-where, td.story-desc, td.story-dates {
    padding: 0.1em 0.8em 0.1em 1em;
    border: 1px solid #777;
    /*display: block;*/
    font-size: 82%;
}

td.story-desc {
    font-size: 78%;
    padding: 0.1em 0.5em 0.5em 0.7em;
    vertical-align: center;
}

td.story-dates {
    font-size: 78%;
    padding: 0.2em 0.5em 0.2em 1em;
}

th.story {
    font-size: 50%;
    border: 1px solid #777;
}

tr.proglangs td {
    border: 1px solid #777;
    padding-left: 0.4em;
    padding-right: 0.2em;
}

div.postlistdate, div.postlistert {
    display: inline-block;
}

div.postlistert {
    color: #888;
}

div.postlistert:after {
    content: ' min';
}

div.postlistert:before {
    content: 'Est. reading time: ';
}