<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "pl" }}">
    <meta charset="UTF-8" />
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="$rootdir$/styles.css" />
        <link rel="shortcut icon" href="$rootdir$/favicon.ico" type="image/x-icon" />
        <link rel="icon" type="image/png" href="$rootdir$/DSCF7629-bfab-fixed-squared-666px.png" />
        <link rel="icon" href="$rootdir$/favicon.ico" type="image/x-icon" />
        <!-- tu był add-head w clojure-owym dokonkatenowany -->
        $add-head$
    </head>
    <body>
        <!-- miejsce na noscript google tag managera i na naszgtm.js -->
        $body$
        <script src="https://code.jquery.com/jquery-1.10.2.min.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js" />
    </body>
