{{ define "title" }}
{{ .Title }} :: {{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{ partial "klik/omnie.gohtml" . }}
{{partial "klik/sledz.gohtml" . }}
<h2 id="kontakt">{{i18n "kontakt"}}</h2>
<h3>{{i18n "kontaktMojOpenpgp"}}</h3>
<a href="{{ "ArchieT.key" | relURL }}">
<span class="pgp">6ACF 4FCE E9BC DE97 5C81&nbsp;
                4A49 599D 6671 880D 22D6</span>
</a><br/>
<a href="{{ "ArchieT.old.key" | relURL }}">
<span class="pgprev">72A3 D939 ECA2 67FB 0096&nbsp;
                8F4B 8179 43C5 88A5 0062</span>
</a>
<h3>Adresy</h3>
<h4>Email</h4>
<div class="myadresses">
	{{/*$for(myemails)$*/}}
	{{range $.Site.Data.about.my_emails }}
	<a href="mailto:Micha%C5%82%20Krzysztof%20Feiler%3c{{ . }}%3e">
		Michał Krzysztof Feiler &lt;{{ . }}&gt;
	</a>
	<br/>
	{{/*$sep$ <br/>*/}}
	{{ end }}
	<p><i>Please do not use the archiet@platinum.edu.pl address anymore, from December 13th 2018 on.</i></p>
</div>
<h4>Czat<!--a href="https://matrix.org">Matrix</a--></h4>
<h5>Sieć Matrix</h5>
<div class="myadresses">
	<a href="https://matrix.to/#/@ArchieT:matrix.org">
		<span class="matrixtohead">
            https://matrix.to/#/</span><span class="matrixaddress">@ArchieT:matrix.org
        </span>
	</a>
</div>
<h5>Komunikator Telegram</h5>
<div class="myadresses">
	<a href="https://t.me/ArchieT">
            <span class="matrixtohead">
            https://t.me/</span><span class="matrixaddress">ArchieT
            </span>
	</a>
</div>
{{ end }}
